.shopProfile_container {
  font-family: var(--font-base);
  color: #fff;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;

  .shopprofile_details {
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 10px;
    padding: 15px;
    width: 85%;
    background-color: var(--white-color);
    .profile-picture {
      img {
        width: 7rem;
      }
    }
    .profile {
      margin-left: 20px;
      .profile_name {
        color: var(--primary-color);
      }
      .address {
        color: #000;
        &:hover {
          color: var(--primary-color);
        }
        p {
          span {
            cursor: pointer;
          }
        }
      }
      .make_inline_div {
        display: flex;
        align-items: center;
        justify-content: center;
        .avalibility {
          border: 1px solid var(--primary-color);
          border-radius: 20px;
          width: 8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;
          color: #000;
        }
        .edit-btn {
          color: #000;
          cursor: pointer;
          font-size: 20px;
          &:hover {
            color: var(--primary-color);
          }
          // display: inline-block;
        }
      }
    }
    .setting-section {
      transition: all 0.2s ease-in-out;
      margin-left: 20rem;
      .public-view {
        color: var(--primary-color);
        background-color: var(--white-color);
        border: 1px solid var(--primary-color);
        &:hover {
          color: var(--white-color);
          background-color: var(--primary-color);
        }
      }
      .setting {
        color: #fff;
        background-color: var(--primary-color);
        &:hover {
          background-color: #422c87;
        }
      }
      button {
        border-radius: 20px;
        padding: 10px;
        width: 10rem;
        font-size: 15px;
        cursor: pointer;
        border: none;
        margin: 10px;
      }
    }

    @media screen and (max-width: 600px) {
      width: auto;
      flex-direction: column;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-height: 15rem;
    margin-bottom: 10px;
    padding: 15px;
    width: 85%;
    background-color: var(--white-color);
    .available_slots {
      position: relative;
      color: var(--primary-color);
      header {
        text-decoration: underline;
        text-align: center;
        margin-bottom: 30px;
      }
      .time-slots {
        display: grid;
        grid-template-columns: auto auto auto auto;
        button {
          padding: 8px;
          background-color: var(--background-color);
          border-radius: 20px;
          border: none;
          margin: 10px;
          height: 2.5rem;
          width: 10rem;
          cursor: pointer;
          &:hover {
            background-color: var(--btn-color);
            color: #fff;
          }
        }
      }
      .timeslot_edit-btn {
        position: absolute;
        top: 0;
        right: -10rem;
        color: #000;
        cursor: pointer;
        font-size: 20px;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    .serices_menu {
      position: relative;
      color: var(--primary-color);
      margin-top: 3rem;
      header {
        text-decoration: underline;
        text-align: center;
        margin-bottom: 10px;
      }
      .services-list {
        .service-item {
          display: flex;
          justify-content: space-around;
          width: 30rem;
          margin: 10px 0;
        }
      }
    }
  }

  .galary {
    position: relative;
    color: var(--primary-color);
    width: 85%;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    header {
      text-decoration: underline;
      text-align: center;
      margin: 10px 0;
    }
    .galary-image {
      display: grid;
      grid-template-columns: auto auto auto;
      margin: 20px;

      img {
        height: 10rem;
        margin: 30px;
      }
    }
    .galary-btn {
      position: absolute;
      top: 10px;
      right: 30px;
      color: #000;
      cursor: pointer;
      font-size: 20px;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
